/* Home.css */
.home-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position:fixed;
  z-index: -1;
  opacity: 30%;
}

.home-container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  object-fit: contain;
  position:fixed;
  font-family: Lucida Handwriting;
}

.intro-section {
  text-align: center;
  margin-bottom: 10px;
}

.intro-heading {
  font-size: 3rem;
  font-weight: 700;
  color: #e3211e; /* Classy orange shade */
  margin: 20px 0;
}

.intro-subheading {
  font-size: 1.5rem;
  font-weight: 300;
  color: #000000; /* Light grey for a refined look */
}

.intro-text {
  font-size: 1.2rem;
  font-weight: 400;
  color: #000000;
  margin: 10px 0;
}

.feature {
  text-align: center;
  margin: 10px 0;
}

.feature-heading {
  font-size: 2rem;
  font-weight: 600;
  color:#d62421; /* Deep red for emphasis */
  margin-bottom: 5px;
}

.feature-text {
  font-size: 1rem;
  font-weight: 400;
  color: #000000;
  line-height: 1.6;
  max-width: 800px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .intro-heading {
    font-size: 2.5rem;
  }

  .intro-subheading {
    font-size: 1.2rem;
  }

  .intro-text {
    font-size: 1rem;
  }

  .feature-heading {
    font-size: 1.8rem;
  }

  .feature-text {
    font-size: 0.9rem;
  }
}
