

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color:rgb(251, 251, 251);
}

.backround-page {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0%;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(52, 189, 93, 0.1);
  max-width: 400px;
  width: fit-content;
  margin: auto;
}
.closeButton{
  position: absolute;
    top: 0px;
    right: 7px;
    font-size: 30px;
    color: #565353;
    cursor: pointer;
}

.closeButton:hover{
  background-color: #ffffff;
}
.sc-container {
  max-width: 355px;
  background-color:#fffcfc94;
  padding: 20px 20px;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(127, 132, 128, 0.3);
  opacity: 1;
}


h1 {
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  border-bottom: 1px solid #ddd;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

button {
  background-color:#fff;
  color: #000000;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  margin: 5px 10px;
  border-radius: 4px;
}


button.del{
  margin-left: 0;
  background-color: #fff;
  color:#000000 ;
}

.quantity-border{
  margin:0 0;
  text-align: center;
  border: 1px solid #000;
  padding: 1px 5px; /* Add padding to create space between text and border */
  width:min-content;
}

button:hover {
  background-color:#f39191;
}

p {
  text-align: center;
  font-weight: bold;
  margin-top: 10px;
}

button.payment {
  width: 300px;
    height: 40px;
    padding: 10px 15px;
    background-color: #e05e5d;
    color: black;
    font-size: 15px;
    cursor: pointer;
    border: none;
    text-align: center;
    border-radius: 10px;
    align-self: center;
    margin-left: 10px ;
    margin-right:0%;
  
}

button.payment:hover {
  background-color: #e05e5d;
    color: white;
}

.h2 {
  margin: 3px;
}
.text-end {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: right;
  
}


.PaymentModalContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.PaymentModal {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(52, 189, 93, 0.1);
  max-width: 400px;
  width: 100%;
  margin: auto; /* Added for centering horizontally */
}


.PaymentModal h2 {
  margin-bottom: 20px;
}

.PaymentModal label {
  display:block;
  margin-bottom: 10px;
}

.PaymentModal input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
}

.PaymentModal button {
   
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.PaymentModal .payButton{
  width: 300px;
  height: 40px;
  padding: 10px 15px;
  background-color: #e05e5d;
  color: black;
  font-size: 15px;
  cursor: pointer;
  border: none;
  text-align: center;
  border-radius: 10px;
  align-self: center;
  margin-left: 10px ;
  margin-right:0%;

}

.PaymentModal button:hover {
  background-color: #e05e5d;
    color: white;
}

.PaymentModal .closeButton {
  position: absolute;
  top: 0px;
  right: 7px;
  font-size: 30px;
  color: #000000;
  cursor: pointer;
  background-color: transparent;
}

.PaymentModal .closeButton:hover {
  color: #000000;
  background-color: transparent;
}


/* Add this to your existing styles or create a new file, e.g., PaymentModalButtons.css */

.PaymentModalButtons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1px;
  margin-bottom: 5px;
  padding: 10px;
}

.PaymentModalButtons button {
  width: 300px; 
  height: 35px; 
  padding: 10px;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
}

.PaymentModalButtons button.paypal {
  margin-bottom: 10px;
  background-color: #be3b3b;
  color: #fff;
}

.PaymentModalButtons button.gpay {
  background-color: #e67675;
  color: #fff;
}

.PaymentModalButtons button:hover {
  opacity: 0.9;
}

.horizontal-line {
  border: none;
  height: 0.5px; /* Adjust as needed */
  background-color: #8d8c8c; /* Adjust color as needed */
  margin: 10px 0; /* Adjust margin as needed */
  padding: 1px;
}


.popup-message {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  color: #4caf50; /* Green color for the message text */
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.1);
}

.popup-message.visible {
  opacity: 1;
}

.tick-icon {
  color: #4caf50; /* Green color for the tick icon */
  margin-right: 10px;
}
.PaymentModal .input-row {
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
}

.exp {
  font-size: 0.75rem;
  width: 50%;
  margin-right: 20px;
}

.cvc {
  font-size: 0.75rem;
  width: 50%;
  margin-left: 20px;
}


.itemdesc {
  width: 300px; /* Set your desired width */
  
  padding: 10px;
  overflow: hidden; /* Hide overflow text */
}

.fixed-length-text {
  overflow: hidden;
  text-overflow: ellipsis; /* Show ellipsis (...) for overflow text */
  white-space: nowrap; /* Prevent text wrapping */
}







